{% extends "htmx_tut/base.html" %}
{% load static %}

{% block title %}HTMX Tasks{% endblock %}

{% block body %}
<div class="container-fluid mb-1 jumbotron">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h1 class="mb-3">HTMX Tasks</h1>
    </div>
  </div>
</div>
<div class="container">
    {% include "htmx_tut/task_list.html" %}
    <div class="row">
        <form hx-post="{% url 'create_task' %}"
            hx-target="#tasks"
            hx-swap="outerHTML">
            <label for="description">Enter a new task:</label>
            <input type="text" id="description" name="description">
            <input type="submit" value="Add" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% load compress %}
<!-- Example of how to use Django Compressor -->
{% compress js %}
  <script type="module" src="{% static 'js/base.js' %}"></script>
  <script type="module">
    console.log('Hello, inline world!')
  </script>
{% endcompress %}
{% endblock %}